
body {
    background-color: #C4D3E8;
    font-family: "Pixelify Sans", sans-serif;
    color: #234D6A;
}

/* Header */
header {
    background-color: #234D6A;
    border: 12px solid #234D6A;
    margin: -8px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 100px;
    width: auto;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

li img {
    height: 80px;
    width: auto;
}

.settings-icon {
    height: 45px;
    width: auto;
    margin-top: 25px;
}

/* index.html */
main {
    text-align: center;
}

.lead-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-in-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.introduction-text {
    background-color: #F1F0F0;
    border: 8px solid #FAC3C4;
    border-radius: 15px;
    text-align: left;
    width: 500px;
    height: 300px;
}

.lead-in-image {
    background-color: #F1F0F0;
    border: 8px solid #66AE6E;
    border-radius: 15px;
    width: 190px;
    height: 225px;
    z-index: 1;
    margin-left: -50px;
}

.lead-in-imgage img {
    height: 95%;
    width: 95%;
}

.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.additional-info .lead-in-image {
    margin-left: 0px;
    margin-top: 80px;
}

.additional-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.additional-text {
    background-color: #F1F0F0;
    border: 8px solid #FAC3C4;
    border-radius: 15px;
    text-align: left;
    width: 350px;
    height: 300px;
}

/* Footer */
footer {
    background-color: #234D6A;
    color: #F1F0F0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: -8px;
    padding: 10px;
}

footer p {
    width: 40%;
    height: auto;
    font-size: 12px;
}

.footer-spacing {
    height: 50px;
}

/* games.html */
.game-logo img {
    height: 100px;
    width: auto;
}

.game-lead-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.game-lead-in-container img {
    border-radius: 15px;
    width: 190px;
    height: 225px;
}

.game-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-story-text {
    background-color: #F1F0F0;
    border: 8px solid #FAC3C4;
    border-radius: 15px;
    text-align: left;
    width: 500px;
    height: 300px;
}

.additional-info-game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 50px;
}

.additional-info-game-box .lead-in-image {
    margin-left: 0px;
    margin-top: 80px;
}

.additional-info-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.additional-text-game {
    background-color: #F1F0F0;
    border: 8px solid #FAC3C4;
    border-radius: 15px;
    text-align: left;
    width: 300px;
    height: 250px;
}

.reason {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-text {
    background-color: #F1F0F0;
    border: 8px solid #FAC3C4;
    border-radius: 15px;
    text-align: left;
    width: 400px;
    height: 200px;
}

/* Responsive webdesign for mobile phone */
@media (max-width: 500px) {
    /* Header */
    header {
    border: 8px solid #234D6A;
    }

    header img {
        height: 60px;
        margin-top: 10px;
    }

    header li {
        gap: 50px;
    }

    li img {
        height: 60px;
    }

    .settings-icon {
        height: 40px;
        margin-top: 20px;
    }

    /* index.html */
    .introduction-text {
        border-radius: 10px;
        width: 275px;
        height: 200px;
    }

    .lead-in-image {
        border-radius: 10px;
        width: 95px;
        height: 125px;
        margin-left: -15px;
    }

    .additional-info {
        flex-direction: column;
        gap: 20px;
    }

    .additional-info .lead-in-image {
        margin-top: 30px;
    }

    .additional-text {
        border-radius: 10px;
        width: 250px;
        height: 200px;
    }

    /* Footer */
    footer p {
        width: 80%;
        font-size: 10px;
    }

    /* games.html */
    .game-logo img {
        height: 80px;
    }

    .game-lead-in-container {
        flex-direction: column;
        gap: 20px;
    }

    .game-lead-in-container img {
        border-radius: 10px;
        width: auto;
        height: 125px;
    }

    .game-story {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .game-story-text {
        border-radius: 10px;
        width: 350px;
        height: 250px;
    }

    .additional-info-game-box {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .additional-info-game-box .lead-in-image {
        margin-top: 30px;
    }

    .additional-info-game {
        gap: 10px;
    }

    .additional-text-game {
        border-radius: 10px;
        width: 225px;
        height: 175px;
    }

    .reason-text {
        border-radius: 10px;
        width: 300px;
        height: 150px;
    }
}
